[submodule "Submodules/discord-rpc-csharp"]
	path = Submodules/discord-rpc-csharp
	url = https://github.com/Sewer56/discord-rpc-csharp.git
[submodule "Submodules/FlatOut2.SDK"]
	path = Submodules/FlatOut2.SDK
	url = https://github.com/Sewer56/FlatOut2.SDK.git
